body {
  margin: 0;
}
div {
  box-sizing: border-box;
}
.page-btn {
  width:100px;
  height:35px;
  border:0px;
  margin:0px;
  background-color: #e2e2e2;
  transition: all 0.5s ease;
  color:#000;
  &:hover {
    color:#fff;
    cursor: pointer;
  }
}

.disabled-btn {
  width:100px;
  height:35px;
  border:0px;
  margin:0px;
  background-color: gray;
  color:#000;
}

.black-bg {
  background-color:rgba(0,0,0,.3); 
  justify-content:center; 
  align-items:center;     
  position:fixed;         
  top:0;
  left:0;
  right:0;
  bottom:0;        

padding:15px; 
}
.white-bg {
  width: 80%; 
  background: white;
  border-radius: 8px; padding: 20px; 
}
.userListTable, .boardDetailView {
  width: 80%;
  border: 1px solid #E1E1E1;
  border-collapse: collapse;
  margin-left: 150px;
  margin-top: 100px;
}
.btn-add {
  float: right;
  margin-right: 160px;
}
table tr {
  text-align: center; 
}
table th, .dataList td {
  border: 1px solid #E1E1E1;
  cursor: pointer;
}
.dataList:hover {
  background: lightgray;
}

.userModal,
.alertModal,
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.overlay {
  opacity: 0.5;
  background-color: black;
}
.modal-card {
  max-width: 80%;
  margin: auto;
  margin-top: 130px;
  padding: 20px;
  background-color: white;
  min-height: 300px;
  z-index: 10;
  opacity: 1;
}
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.overlay {
  opacity: 0.5;
  background-color: black;
}

.userModal
.modal-card {
  position: relative;
  max-width: 60%;
  margin: auto;
  margin-top: 130px;
  padding: 20px;
  background-color: white;
  min-height: 300px;
  z-index: 10;
  opacity: 1;
}

.alertModal
.modal-card  {
  position: relative;
  max-width: 30%;
  margin: auto;
  margin-top: 250px;
  padding: 20px;
  background-color: white;
  min-height: 100px;
  z-index: 10;
  opacity: 1;
}
.closeBtn ,
.changeInformBtn {
  cursor: pointer;
  float: right;
}
.inputBox {
  width:200px;
  height:15px;
  font-size:15px;
  text-align: center;
}
.selectBox {
  width:210px;
  height:21px;
  font-size:15px;
  text-align: center;
}
.userInputTable {
  width: 60%;
  height: 100px;
  margin: auto;
  text-align: center;
}
.userListTitle {
  text-align: center;
}
.changeInformBtn {
  width: 70px;
  height: 30px;
  border:1px solid #BDBDBD;
  background-color: #E1E1E1;
}
.backToListButton, .backToHomeButton {
  margin-top:60px;
  margin-right: 20px;
  float: right;
}
.boardTitle {
  text-align: center;
  font-size: 2em;
  margin-top: 100px;
}
.buttonDiv {
  margin-right: 140px;
}
.boardDetailView ul{
  border-bottom: 1px solid black;
}
.content {
  height: 150px;
}
.userId {
  height: 35px;
}
